[ {myip, []},
  {bifrost, [{port, 6001}
            ]},
  {lager, [
    {log_root, "var/log"},
    {handlers, [
      {lager_file_backend, [{file, "myip.log"}, {size, 104857600}, {date, "$D0"},
        {count, 200}, {level, debug}, {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [",severity,"] ",{id,{pid,""}},
                            "@",module,":",function,":",line," ",message, "\n"]}
    ]}
    ]}
  ]}
].

